@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300&display=swap');

body{
    background-color: black;
}
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;

}

nav{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-top: 45px;
    padding-left: 8%;
    padding-right: 8%;

}
.logo{
    color: white;
    font-size: 35px;
    cursor: pointer;

}
nav>ul>li{
    list-style-type: none;
    display: inline-block;
    padding: 10px 25px;

}
nav>ul>li>a{
    color: white;
    text-decoration: none;
    font-weight: bold;
    text-transform: capitalize;
}
nav>ul>li>a:hover{
    color: orange;
    transition: 1s;
}
section{
    min-height: 100vh;
    padding: 10rem 9% 2rem;

}
.home{
    display: flex;
    justify-content: center;
    align-items: center;
}
.home-page>h3{
    color: white;
    font-size: 3rem;
    font-weight: 700;
}
span{
    color: orange;
}
.home-page>p{
    color: white;
    font-size: 2rem;
    font-weight: 300;
}

.home-image>img{
    width: 25vw;
}

.social-icon>a{
    font-size: 2rem;
    color: white;
    margin: 3rem;

}
.social-icon>a:hover{
    color: orange;
}
.btn{
    display: inline-block;
    padding: 1rem 2.5rem;
    background: orange;
    border-radius: 4rem;
    font-size: 1.5rem;
    letter-spacing: .1rem;
    color: black;
    font-weight: 200;
}
.about-me{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 2rem;
    color: white;
}
.about-image {
    width: 35vw;
}
.about{
    text-align: center;
    font-size: 3rem;
}
.header>h2{
    text-align: left;
    line-height: 1.5;
}
.header>h3{
    font-size: 1rem;
}
.header>p{
    font-size: 1rem;
    margin: 2rem 0 3rem;
}

/*services section*/
.services>h2{
    margin-bottom: 5rem;
    color: white;
}
.service-box{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    gap: 2rem;
    color: white;
}
.service-box .box{
    flex: 2 2 20rem;
    background: black;
    padding: 3rem 3rem 3rem;
    border-radius: 2rem;
    text-align: center;
    border: .2rem solid darkgray;

}
.box>h3{
    font-size: 2.6rem;
}
.box>p{
    font-size: 1.6rem;
    margin: 1rem 0 3rem;
}

/*Project section*/
.projects{
    background: black;
}
.projects>h2{
    margin-bottom: 4rem;
    font-size: 3rem;
    color: white;
}
.project-box{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    align-items: center;
    gap: 2.5rem;
}
.project-box .p-box{
    position: relative;
    border-radius: 2rem;
    overflow: hidden;
    display: flex;
}
.p-box>img{
    width: 100%;
}

.p-box .content{
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;

}